@()

@main("Falcon Social test ") {
    <style>
    	.inputField{
    		width:350px;
    	}
    	.hidden{
    		display:none;
    	}
    	.toggable{
			color: blue;    	
    	}
    </style>
    <h3>Task description <a class ="toggable" >Toggle</a></h3>
	<table border="1" width="50%" id="toggleMe" class="hidden">
		<tr>
			<th>Requirement</th>
			<th>Status</th>
		</tr>
		<tr>
			<td>Setup a running env. aligned with the technologies mentioned below.</td>
			<td>Environment was set up on local machine with Window Vista on it and deployed to server.</td>
		</tr>
		<tr>
			<td>Develop the application in Play framework, in Java languages (http://www.playframework.com/)</td>
			<td>Used template 'play-java-intro' as a starting point</td>
		</tr>
		<tr>
			<td>A REST endpoint is taking a dummy json input, and the server puts the REST payload on a Redis pub/sub channels  (or the one the candidate knows the best for this task)</td>
			<td>Please refer to 'Functional testing' section below and class 'ImplJSONController'</td>
		</tr>
		<tr>
			<td>A Consumer is running the application and processes the freshly received message and persists the message in a NoSQL database (Redis or the one the candidate knows the best)</td>
			<td>Refer to section 'Functional testing' and classes ImplRedisJSONmessageDao and ImplRedisSubscriberDao</td>
		</tr>
		<tr>
			<td>A REST endpoint is implemented for getting all the messages persisted in json format</td>
			<td>Example: <a href="/jsonMessages" target="_blank">here</a></td>
		</tr>
		<tr>
			<td>The message should also be pushed through Websockets for listening browser clients at the time the message was received on the REST endpoint (http://www.playframework.com/)</td>
			<td>Plese refer to class WebSocketConnections</td>
		</tr>
		<tr>
			<td>A simple html page is implemented to show the real time message delivery</td>
			<td>Example:<a href="/websocketMessages" target="_blank">here</a></td>
		</tr>
	</table>
	<hr />
	<h3>Functional testing JSON or String to Redis</h3>
	<p>Please update values for json and submit to be stored in Redis (is used for functional testing)</p>
	<form method="POST" action="@routes.ImplJSONController.addJSONMessage()">
		<input type="text" name="content" value="updateMe" maxlength="256" class="inputField"/>
		<button>Add JSON</button>
		<a href ="/jsonMessages">Get all in JSON</a>
		<a href ="/websocketMessages" target="_blank">Web socket messages</a>
	</form>
	<br />
	<hr />
	<p>Below is just example taken from playframework and used as a base for implementation, it is blocking</p>
	<br />
	<ul id ="persons"></ul>
	<form method="POST" action="@routes.ImplPersonController.addPerson()">
		<input type="text" name="name" value="newPersonUpdate" maxlength="256" class="inputField" />
		<button>Add Person</button>
		<a href ="/persons">Get all in JSON</a>
	</form>
	<hr />
	<script type ="text/javascript">
		jQuery(document).ready(function() { 
			if (jQuery(".toggable").length > 0){
				jQuery(".toggable").click(function() {
					jQuery("#toggleMe").toggle();
				});
			}	
		})
	</script>
}