@()

@main("Falcon Social test") {
	<h3>Websocket, real time message delivery</h3>
	<ul id ="webSocketMessages"></ul>
	<script type ="text/javascript">
		jQuery(document).ready(function() { 
			if ("WebSocket" in window){
				var socket= new WebSocket('ws://127.0.0.1:9000/websocket');
				socket.onopen = function() {
				    socket.send("Connected!");
				};
				socket.onmessage = function(evt) {
					var socketMessage = evt.data;
					jQuery("#webSocketMessages").append("<li>"+socketMessage+"</li>");
				};
				socket.error = function() {
					jQuery("#webSocketMessages").append("<li>Websocket error</li>");
				};
				socket.close = function() {
					jQuery("#webSocketMessages").append("<li>Disconnected</li>");
				};
			 }else{// The browser doesn't support WebSocket
				    jQuery("#webSocketMessages").append("WebSocket NOT supported by your Browser!");
			 }	
		})
	</script>
}